
body{
	background: url(../img/bg.png);
	height: 100%;
	width: 100%;
	background-repeat: repeat;
}

.body2{
	background: url(../img/bg.png);
	height: 100%;
	width: 100%;
}

.body3{
	background: url(../img/bg.png);
	height: 100%;
	width: 100%;
}